.main-content {
  background-image: url("../../static/background.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;
  overflow: scroll;
}
